<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>API Demo</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'demo_style.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="flex-container">

                <!-- Hotels Section -->
                <div class="card-container">
                    <h1>Hotels Near PKI</h1>
                    {% if hotel_data.data %}
                        {% for hotel in hotel_data.data %}
                            <div class="card">
                                <h2>{{ hotel.name }}</h2>
                                <p>
                                    Distance: {{ hotel.distance.value }} {{ hotel.distance.unit }}
                                </p>
                                <p>Hotel ID: {{ hotel.hotelId }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-data">No hotels found.</p>
                    {% endif %}
                </div>

                <!-- Attractions Section -->
                <div class="card-container">
                    <h1>Attractions Near PKI</h1>
                    {% if attr_data.data %}
                        {% for attr in attr_data.data %}
                            <div class="card">
                                <h2>{{ attr.name }}</h2>
                                <p>{{ attr.description }}</p>
                                <img src="{{ attr.pictures.0 }}">
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-data">No attractions found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
